*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}


.section{
  .container-fluid2{
    .about{
      width: 100%;
      min-height: 495px;
      background-repeat: no-repeat;
      background: url("../img/hero/about_hero.png");
      p{
        font-size: 70px;
        font-weight: bolder;
        text-align: center;
        top: 250px;
        left: 550px;
        text-transform: capitalize;
        font-family: "Josefin Sans", sans-serif;
        color: #0c1d39;
       position: absolute;
      }

    }
  }
  .watch{
    position: relative;
    .span1{
      width: 600px;
      display: block;
      position: absolute;
      top: -110px;
      left: 140px;
      ul{
        list-style: none;
        display: flex;
        font-family: "Josefin Sans", sans-serif;
        text-transform: capitalize;
        li{
          .active1{
            color: white;
            background-color: red;

          }
          a{
            background-color: #F2F2F2;
            color: #062c33;
            padding: 10px 20px;
            text-align: center;

            &:hover{
              color: white;
              background-color: red;



            }
          }
        }
      }
    }
    .dropdown{
      position: absolute;
      right:160px;
      top: -120px;
      .button{
        padding: 8px 16px;
        background-color: #F2F2F2;
        border: 1px solid transparent;
        border-radius: 20px;
        outline: transparent;
        color: #0c1d39;
        font-family: "Josefin Sans", sans-serif;

      }
      .dropdown-menu{
        .dropdown-item{
          font-family: "Josefin Sans", sans-serif;
          color: #0c1d39;

        }
      }
    }
    .popular1{
      margin-top: 300px;
    }
  }
  .shipping-method {
    margin-top: 10rem;
    margin-bottom: 8rem;
    .container {
      height: 230px;
      .wrapper {
        background-color: #ea0000;
        height: 100%;
        .row {
          height: 100%;
          align-items: center;
          .col-lg-4 {
            .card {
              background: transparent;
              border: none;
              text-transform: capitalize;
              color: #fff;
              padding-top: 2rem;
              padding-left: 2rem;
              margin: 0;
              i,
              h4 {
                display: inline-block;
                margin: 0;
                margin-bottom: 15px;
              }
              h4 {
                font-weight: 600;
                font-size: 22px;
              }
              p {
                font-size: 16px;
                color: gainsboro;
              }
              i {
                font-size: 40px;
              }
            }
          }
        }
      }
    }
  }
  .footer {
    margin: 12rem auto 4rem auto;
    .container {
      .row {
        .col-lg-4 {
          img {
            margin-bottom: 3rem;
          }
          P {
            color: #7c818d;
          }
        }
        .col-lg-2,
        .col-lg-3 {
          h3 {
            font-size: 20px;
            padding-bottom: 20px;
            text-transform: capitalize;
          }
          .list {
            li {
              list-style-type: none;
              padding-bottom: 10px;
              transition: 0.3s ease-out;
              &:hover {
                transform: translateX(5px);
                a {
                  color: #ff2020;
                }
              }
              a {
                text-decoration: none;
                color: #7c818d;
                font-size: 1rem;
                font-weight: 300;
                text-transform: capitalize;
              }
            }
          }
        }
      }
      .copy_icons {
        margin-top: 6rem;
        display: flex;
        justify-content: space-between;
        .social-icons {
          margin-right: 4rem;
          a {
            text-decoration: none;
            color: #000;
            &:hover i {
              color: #ff2020;
              transform: rotateY(180deg);
              --webkit-transform: rotateY(180deg);
            }
            i {
              padding: 0 1rem;
              transition: 0.4s ease-out;
            }
          }
        }
        .copyright {
          font-size: 1rem;
          color: #7c818d;
          margin-left: -45px;
        }
      }
    }
  }
}