// ================= Navbar Section | logo | Home Page ======================//

* {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}
body {
	overflow-x: hidden;
}
.section {
	.container-fluid1 {
		.menu {
			z-index: 1000;
			position: fixed;
			width: 100%;
			justify-content: space-around;
			align-items: center;
			height: 100px;
			background-color: white;
			display: flex;

			box-shadow: 0 0 10px rgba($color: #cfcece, $alpha: 0.8);

			ul {
				display: flex;
				list-style: none;

				li {
					a {
						text-decoration: none;
					}
				}
			}

			.logo {
				margin-top: 10px;
				margin-left: 30px;
			}

			.nav1 {
				margin-top: 15px;
				margin-left: 80px;
				li {
					margin-left: 40px;
					font-size: 16px;
					font-family: "Josefin Sans", sans-serif;
					font-weight: bold;
					a {
						letter-spacing: 1px;
						color: black;
						transition: all 0.1s linear;
						&:hover {
							color: red;
						}
					}
				}
				li:hover .dropdown_menu {
					visibility: visible;
					opacity: 1;
					transform: translateY(7px);
				}
				.hot {
					a:nth-child(1) {
						padding-bottom: 3rem;
					}
					position: relative;
					&:before {
						content: "HOT";
						position: absolute;
						font-size: 10px;
						text-align: center;
						box-shadow: 0 2px 5px #c1c1c1;
						border-radius: 8px;
						top: -20px;
						right: -25px;
						padding: 4px 4px 2px;
						color: #fff;
						font-weight: 300;
						background-color: #ff2020;
					}
					.dropdown_menu {
						position: absolute;
						top: 55px;
						left: -30px;
						width: 180px;
						border: 0.5px solid transparent;
						display: flex;
						flex-wrap: wrap;
						padding: 20px 15px;
						text-transform: capitalize;
						line-height: 40px;
						background-color: #fff;
						border-radius: 3px;
						border-top-left-radius: 10px;
						border-top-right-radius: 10px;
						visibility: hidden;
						opacity: 0;
						transition: all 0.1s linear;
						z-index: 99999 !important;
						border-top: 4px solid #ff2020;
						box-shadow: 0 5px 15px #d8d7d7;
						&:after {
							position: absolute;
							content: "";
							top: -10px;
							border-style: solid;
							border-top-width: 0;
							border-right-width: 6px;
							border-bottom-width: 6px;
							border-left-width: 6px;
							border-color: transparent transparent red transparent;
							left: 15%;
							z-index: -1;
							transition: all 0.1s linear;
						}
						li {
							margin: 0;
						}
					}
				}
				.blog {
					a:nth-child(1) {
						padding-bottom: 3rem;
					}
					position: relative;

					.dropdown_menu {
						position: absolute;
						top: 55px;
						left: -30px;
						width: 180px;
						border: 0.5px solid transparent;
						display: flex;
						flex-wrap: wrap;
						padding: 20px 15px;
						text-transform: capitalize;
						line-height: 40px;
						background-color: #fff;
						border-radius: 3px;
						border-top-left-radius: 10px;
						border-top-right-radius: 10px;
						visibility: hidden;
						opacity: 0;
						transition: all 0.1s linear;
						z-index: 99999 !important;
						border-top: 4px solid #ff2020;
						box-shadow: 0 5px 15px #d8d7d7;
						&:after {
							position: absolute;
							content: "";
							top: -10px;
							border-style: solid;
							border-top-width: 0;
							border-right-width: 6px;
							border-bottom-width: 6px;
							border-left-width: 6px;
							border-color: transparent transparent red transparent;
							left: 15%;
							z-index: -1;
							transition: all 0.1s linear;
						}
						li {
							margin: 0;
						}
					}
				}
			}

			.navicon {
				margin-top: 16px;
				margin-right: 30px;

				li {
					a {
						margin-left: 50px;
						color: black;

						&:hover {
							color: red;
						}
					}
				}
			}
		}

		.wrapper {
			overflow: hidden;
			height: 1100px;
			background-color: #f0f0f2;
			align-items: center;
			display: flex;
			justify-content: space-evenly;

			.text {
				text-align: left;

				p {
					font-size: 95px;
					margin-top: 180px;
					font-family: "Josefin Sans", sans-serif;
					text-transform: capitalize;
					font-weight: bolder;
					margin-left: 90px;
					line-height: 115px;

					color: #0c1d39;
				}

				h5 {
					margin-top: 60px;
					font-family: "Josefin Sans", sans-serif;
					font-weight: 700 !important;
					text-transform: capitalize;
					margin-left: 95px;
					letter-spacing: 1px;
					color: #0c1d39;
					line-height: 40px;
				}

				.button {
					position: relative;
					background-color: #4a4a4b;
					margin-top: 60px;
					padding: 16px 35px;
					text-align: center;
					margin-left: 95px;
					font-family: "Josefin Sans", sans-serif;
					color: white;
					border: transparent;
					text-transform: uppercase;
					z-index: 1;
					text-decoration: none;
					letter-spacing: 1px;

					&:before {
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						transition: transform 300ms ease-in-out;
						background-color: red;
						transform: scaleX(0);
						z-index: -1;
						transform-origin: left;
					}

					&:hover:before {
						transform: scaleX(1);
					}
				}
			}

			.watchright {
				margin-top: 100px;
				margin-right: 50px;
				transform: scale(1);
				animation: transforms 2s ease-in-out infinite alternate;
			}

			@keyframes transforms {
				0% {
					transform: scale(1);
				}
				100% {
					transform: scale(0.95);
				}
			}
		}
	}
}
//================== New Arrivals Section | products and price ===============//
.newArrivalsSection {
	padding: 0;
	margin-bottom: 20vh;

	.container {
		p {
			margin-left: -17px;
			font-size: 50px;
			font-family: "Josefin Sans", sans-serif;
			text-transform: capitalize;
			font-weight: bolder;
		}

		margin-top: 30vh;

		.row {
			margin-top: 10vh;
			display: flex;
			flex-wrap: nowrap;
			justify-content: space-between;
		}
	}

	.card {
		border: none !important;
		padding: 0;
		margin: 0;

		.card-header {
			overflow: hidden;
			background-color: #fff;
			border: none !important;
			padding: 0;

			img {
				transition: all 0.4s ease-out;
			}

			img:hover {
				transform: scale(1.05);
			}
		}

		.card-body {
			border: none !important;

			p {
				font-size: 22px;
				text-align: center;

				span {
					font-size: 18px;
					color: red;
					font-weight: 400;
				}
			}
		}
	}
}

//===================== Gallery Section! ====================================
//===========================================================================
//===========================================================================
.gallery {
	display: block;

	.img-gallery {
		padding: 0 !important;
		overflow: hidden;

		.row {
			margin-right: -15px;
			margin-left: -15px;
			display: flex;
			flex-wrap: wrap;

			.big-img {
				position: relative;
				margin-bottom: 40px;
				overflow: hidden;
				.img1 {
					background-image: url(../img/gallery/gallery1.png);
				}
				.img2 {
					background-image: url(../img/gallery/gallery2.png);
				}
				.img1,
				.img2 {
					height: 690px;
					background-repeat: no-repeat;
					background-size: cover;
					transition: all 0.4s linear;
					transform: scale(1.05);
				}
				&:hover .img1 {
					transform: scale(1);
				}
				&:hover .img2 {
					transform: scale(1);
				}

				&::before {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					height: 100%;
					width: 100%;
					content: "";
					background-color: rgba(1, 10, 28, 0.3);
					opacity: 0;
					z-index: 1;
					transition: all 0.4s ease-out 0s;
				}
				&:hover::before {
					opacity: 1;
					visibility: visible;
				}
			}
			.small-img {
				margin-bottom: 30px !important;
				overflow: hidden;
				position: relative;
				.img3 {
					background-image: url(../img/gallery/gallery3.png);
				}
				.img4 {
					background-image: url(../img/gallery/gallery4.png);
				}
				.img3,
				.img4 {
					height: 330px;
					background-repeat: no-repeat;
					background-size: cover;
					transition: all 0.4s linear;
					transform: scale(1.05);
				}
				&:hover .img3 {
					transform: scale(1);
				}
				&:hover .img4 {
					transform: scale(1);
				}

				&::before {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					height: 100%;
					width: 100%;
					content: "";
					background-color: rgba(1, 10, 28, 0.3);
					opacity: 0;
					z-index: 1;
					transition: all 0.4s ease-out 0s;
				}
				&:hover::before {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
}
//======================= Popular Items Section ===============================//
.popular {
	margin-bottom: 50px;
	margin-top: 180px;
	span {
		text-align: center;
		text-transform: capitalize;
		color: #0d1e39;
		h3 {
			font-family: "Josefin Sans", sans-serif;
			font-size: 48px;
			font-weight: 550;
		}
		p {
			margin-top: 10px;
			letter-spacing: 1px;
			font-family: "Josefin Sans", sans-serif;
			.span {
				background-color: red;
				padding: 8px 16px;
				text-align: center;
			}
		}
	}
	.container {
		margin-top: 80px;
		.row {
			.col-md-4 {
				position: relative;
				.hover {
					z-index: 1;
					transition: transform 300ms ease-in-out;
					width: 361px;
					height: 380px;
					position: absolute;
					background-color: transparent;
					opacity: 1;
					top: 0;
					left: 14px;
					.button1 {
						transition: transform 0.4s ease-in-out;
						transform: translateY(50px);
						background-color: red;
						color: white;
						font-family: "Josefin Sans", sans-serif;
						font-size: 18px;
						text-align: center;
						padding: 15px 0;
						position: absolute;
						bottom: 0;
						left: 0;
						width: 100%;
						border: transparent;
						&:before {
							content: "";
							z-index: -1;
							position: absolute;
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							background-color: #4a4a4b;
							transform: scaleX(0);
							transform-origin: center;
							transition: transform 300ms ease-in-out;
						}
						&:hover:before {
							transform: scaleX(1);
						}
					}
					a {
						transition: all 0.3s ease-in-out;
						opacity: 0;
						font-weight: lighter;
						position: absolute;
						right: 20px;
						top: 10px;
						color: #0c1d39;
						font-size: 32px;
						&:hover {
							transform: scale(1.2);
							color: red;
						}
						&:focus {
							transform: scale(1.2);
							color: red;
						}
					}
				}
				&:hover .hover .button1 {
					transform: translateY(0);
				}
				&:hover .hover a {
					opacity: 1;
				}

				span {
					z-index: 1000;
					overflow: hidden;
					p:nth-child(1) {
						font-size: 24px;
					}
				}
			}
		}
		.row1 {
			margin-top: 20px;
		}
		.button {
			position: relative;
			background-color: red;
			color: white;
			font-family: "Josefin Sans", sans-serif;
			font-size: 18px;
			text-align: center;
			padding: 15px 30px;
			border: transparent;
			margin-top: 100px;
			z-index: 1;
			margin-left: 430px;
			text-transform: uppercase;
			&:before {
				content: "";
				z-index: -1;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: #4a4a4b;
				transform: scaleX(0);
				transform-origin: left;
				transition: transform 300ms ease-in-out;
			}
			&:hover:before {
				transform: scaleX(1);
			}
		}
	}
}
//======================= Video Section =======================================//
//=============================================================================
.video {
	background-image: url(../img/gallery/sectin_bg1.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 700px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 9rem;
	position: relative;
	&:hover .container-fluid .row .col-12 .play-btn a {
		transform: scale(1);
	}
	&:before {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		content: "";
		background-color: rgba(2, 5, 12, 0.5);
		opacity: 0;
		z-index: 0;
		transition: all 0.4s ease-out;
	}
	&:hover::before {
		opacity: 1;
		visibility: visible;
	}
	.container-fluid {
		.row {
			.col-12 {
				.play-btn {
					display: flex;
					justify-content: center;
					align-items: center;
					a {
						position: relative;
						text-decoration: none;
						color: #fff;
						height: 85px;
						width: 85px;
						font-size: 24px;
						line-height: 24px;
						border: 1px solid #fff;
						padding-top: 29px;
						padding-left: 33px;
						border-radius: 50%;
						transform: scale(0.9);
						transition: all 0.4s ease-out;
						&:hover {
							background: #fff;
							color: red;
						}
					}
				}
			}
		}
	}
	.next-video-button {
		position: absolute;
		width: 500px;
		height: 150px;
		left: 0;
		bottom: 0;
		background-image: url(../img/gallery/vidoe_more.png);
		background-repeat: no-repeat;
		background-size: cover;
		.wrapper {
			display: flex;
			font-size: 24px;
			text-transform: capitalize;
			font-family: "Josefin Sans", sans-serif;
			color: #fff;
			line-height: 150px;
			a {
				text-decoration: none;
				color: #fff;
				transition: all 0.5s ease-out;
				padding: 2rem;
				padding-top: 0;
				&:hover {
					transform: translateX(10px);
				}
			}
		}
	}
}
//======================= Watch of choice Section =============================
//============================================================================
@mixin button() {
	background-color: red;
	color: white;
	font-family: "Josefin Sans", sans-serif;
	font-size: 18px;
	text-align: center;
	padding: 15px 30px;
	border: transparent;
	text-transform: uppercase;
	position: relative;
	z-index: 1;
	&::before {
		content: "";
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #4a4a4b;
		transform: scaleX(0);
		transform-origin: left;
		transition: transform 300ms ease-in-out;
	}
	&:hover::before {
		transform: scaleX(1);
	}
}
.watch-choice {
	margin-top: 10rem;
	.container {
		.row {
			align-items: center;
			.pad-right {
				padding-right: 60px;
			}
			.pad-left {
				padding-left: 80px;
			}
			.col-6 {
				p:nth-child(1) {
					font-size: 50px;
					font-family: "Josefin Sans", sans-serif;
					font-weight: 600;
					text-transform: capitalize;
				}
				p:nth-child(2) {
					margin-bottom: 3rem;
					font-family: "Josefin Sans", sans-serif;
				}
				button {
					@include button();
				}
			}
		}
	}
}
//=======================Shipping and Payment Method Section  ===================
//============================================================================
.shipping-method {
	margin-top: 10rem;
	margin-bottom: 8rem;
	.container {
		height: 230px;
		.wrapper {
			background-color: #ea0000;
			height: 100%;
			.row {
				height: 100%;
				align-items: center;
				.col-lg-4 {
					.card {
						background: transparent;
						border: none;
						text-transform: capitalize;
						color: #fff;
						padding-top: 2rem;
						padding-left: 2rem;
						margin: 0;
						i,
						h4 {
							display: inline-block;
							margin: 0;
							margin-bottom: 15px;
						}
						h4 {
							font-weight: 600;
							font-size: 22px;
						}
						p {
							font-size: 16px;
							color: gainsboro;
						}
						i {
							font-size: 40px;
						}
					}
				}
			}
		}
	}
}

//======================= Footer Section  ====================================
//============================================================================
.footer {
	margin: 12rem auto 4rem auto;
	.container {
		.row {
			.col-lg-4 {
				img {
					margin-bottom: 3rem;
				}
				P {
					color: #7c818d;
				}
			}
			.col-lg-2,
			.col-lg-3 {
				h3 {
					font-size: 20px;
					padding-bottom: 20px;
					text-transform: capitalize;
				}
				.list {
					li {
						list-style-type: none;
						padding-bottom: 10px;
						transition: 0.3s ease-out;
						&:hover {
							transform: translateX(5px);
							a {
								color: #ff2020;
							}
						}
						a {
							text-decoration: none;
							color: #7c818d;
							font-size: 1rem;
							font-weight: 300;
							text-transform: capitalize;
						}
					}
				}
			}
		}
		.copy_icons {
			margin-top: 6rem;
			display: flex;
			justify-content: space-between;
			.social-icons {
				margin-right: 4rem;
				a {
					text-decoration: none;
					color: #000;
					&:hover i {
						color: #ff2020;
						transform: rotateY(180deg);
						--webkit-transform: rotateY(180deg);
					}
					i {
						padding: 0 1rem;
						transition: 0.4s ease-out;
					}
				}
			}
			.copyright {
				font-size: 1rem;
				color: #7c818d;
				margin-left: -45px !important;
			}
		}
	}
}
